/.idea
/.tmp
/.nyc_output
/coverage
/node_modules
/scripts
/npm-debug.log
/test
/.editorconfig
/.eslintignore
/.eslintrc
/.gitattributes
/.gitignore
/.npmignore
/.npmrc
/.nycrc
/codecov.yml
/circle.yml
/test-results.xml
